*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header{
    color: #f3f3f3;
    position: sticky;
    top: 0;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    z-index: 99;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: #00669F;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}
h1 {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 55px;
}
h2{
    display: inline-block;
    position: relative;
    bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #f3f3f3;
    font-size: 35px;
}
.logo{
    height: 60px;
    width: 60px;
    margin: 5px;
}
.descuento{
    background-color: #1CD1B0;
    padding: 0 10px;
}
.divGeneral{
    max-width: 550px;
    position: relative;
    left: 36%;
    top: 130px;
}
.formulario{
    display: block;
    border: 1px solid black;
    border-radius: 0;
    margin: 10px 0px;
    width: 550px;
    padding: 15px;
    
}
.boton{
    border-radius: 23px;
    border: 0;
    padding: 10px 0px;
    margin-top: 20px;
    background-color: #1CD1B0;
    font-weight: 700;
    font-size: 1em;
}
.botonGrande{
    position: relative;
    width: 550px;
}
.btnReset{
    background-color: #888;
    margin: 20px 5px 0px 0px;
    width: 270px;
    color: white;
  
}
.btnEntrar{
    width: 270px;
}
.texto{
    margin-top: 7px;
    text-align: center;
}