@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
    --colorPrimario: #222222
    --colorSecundario: #d01418
    --colorTercero: #f3f3f3
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 35px;
}
header div {
    display: flex;
    align-items: center;
}
header div h1{
    margin-left: 20px;
    color: #f3f3f3;
}
header div h1 span{
    color: #d01418
}
.menu{
    display: none;
    font-size: 27px;
}
header nav ul{
    display: flex;
    align-items: center
}
header nav ul a{
    color: #f3f3f3;
    padding: 0px 4px;
    text-decoration: none;
}
.carrito{
    color:#d01418;
    font-size: 24px
}
.hero{
    height: 512px;
    background-image: url("../imagenes/img\ 1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero div h2{
    color:#f3f3f3;
    font-size: 40px;
}
.hero div h2 span{
    color: #d01418;
}
.hero div a{
    background-color: #d01418;
    border-radius: 5px;
    padding: 16px 61px;
    text-decoration: none;
    color: #f3f3f3;
    margin-top: 30px;
}
.destacado{
    background: #f3f3f3;
}
.destacado h2{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 30px;
}
.container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    background: white;
    margin-top: 20px;
}
.card-img{
    margin: 30px 68px;
    
}
.card-text{
    border-top: 1px solid grey;
    padding: 20px;
}
.card-text h4{
    font-size: 20px;
}
.card-text h5{
    font-size: 13px;
}
.card-text h6{
    font-size: 10px;
    color: green;
}
.estrellas{
    background: #f3f3f3;
    padding-bottom: 85px;
}
.estrellas h2{
    display: flex;
    justify-content: center;
    padding-top: 65px;
    font-size: 30px;
}
.container_estrella{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}
.sillas{
    display: flex;
}
.sillas a{
    padding: 53px 10px 53px 210px;
    border-radius: 10px;
    background-image: url(../imagenes/banner\ 1.png);
    background-size: cover;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.computacion{
    display: flex;
}
.computacion a{
    padding: 53px 10px 53px 185px;
    border-radius: 10px;
    background-image: url(../imagenes/banner\ 1\ \(1\).png);
    background-size: cover;
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}
.footer_top{
    background-color: #222222;
    display: flex;
    justify-content:space-between;
    padding: 70px 75px;
}
.footer_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_logo h4{
    font-size: 25px;
    color: white;
    margin-left: 20px;
}
.footer_logo h4 span{
    color:#d01418;
}
.footer_redes h4{
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}
.footer_redes ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_bottom{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    font-size: 10px;
    padding: 5px;
}
@media (max-width:480px){
    nav{
        display: none;
    }
    .menu{
        display: block;
        color: #f3f3f3;
    }
    .sillas a{
        margin-bottom: 20px;
    }
    .footer_top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 120px;
    }
    .footer_logo{
        margin-bottom: 30px;
    }
}